{% extends 'layouts/base.twig' %}

{% block pageBody %}
<div class="main-frame">
  <div class="site-wrapper shop-main">

    <header class="shop-archive__header">
      {% include "components/archive-controls.twig" with {
        shop: true,
        search_type: 'product',
        active_filter: title,
        hide_instock: true,
        filters: [
          {
            label: 'Category',
            options: categories
          },
          {
            label: 'Sort',
            options: [
              {
                title: 'Price',
                link: '?sortBy=price',
                sort: 'sortBy=price'
              },
              {
                title: 'Title',
                link: '?sortBy=title',
                sort: 'sortBy=title'
              },
              {
                title: 'A-Z',
                link: '?sort=ASC',
                sort: 'sort=ASC'
              },
              {
                title: 'Z-A',
                link: '?sort=DESC',
                sort: 'sort=DESC'
              }
            ]
          }
        ]
      } %}
      <div class="shop-section__header">
        <div class="ecomm--header">
          {% if query %}
            <h1 class="sectionheader sectionheader--shop">Search results for: <span class="archive__query">{{ query }}</span></h1>
          {% elseif title %}
            <h1 class="sectionheader sectionheader--shop">{{ title }}</h1>
          {% endif %}
          <hr />
        </div>
      </div>
    </header>

    {% do action('woocommerce_before_main_content') %}
    {% do action('woocommerce_before_shop_loop') %}

    {% if products and products|length %}
      <div class="static-carousel--quarter static-carousel--quarter__looper">
          <div class=" static-carousel__slides">
            {% for tease in products %}
              {% include ["components/tease-product.twig"] with { tease: tease, designer: title } %}
            {% endfor %}
        </div>
      </div>

      {% if products.pagination %}
        {% include "components/pagination.twig" with {pagination: products.pagination} %}
      {% endif %}

    {% else %}
      {% if type == 'product_cat' %}
        <p>There are no products{{ in_stock_only ? ' in stock' : '' }} in this category.</p>
      {% else %}
        <p>No products.</p>
      {% endif %}
    {% endif %}

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
  </div>
</div>

{% endblock  %}
