{% set feature_photo = post.feature_photo ? Image(post.feature_photo) : false %}

{% extends "layouts/base.twig" %}

{% block pageBody %}

<div class="main-frame single single--page">
  <header class="site-wrapper simple-page-header">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item"><a href="/shop">Store</a></li>
      <li class="breadcrumbs__item breadcrumbs__item--active"><a href="/cart">Cart</a></li>
    </ul>
    <div class="ecomm--header">
      <hr />
        <h1 class="sectionheader">{{ post.title }}</h1>
      <hr />
    </div>
  </header>
  <article class="site-wrapper single__main">
    <div class="wp-block-editor-content">
      {{ post.content }}
    </div>
  </article>
</div>

{% endblock %}

