{% extends "layouts/base.twig" %}

{% block pageBody %}

{% include "components/banner.twig" %}

<article class="main-frame single single--404">
  <div class="site-wrapper ">
    <div class="single__main site-wrapper--small">
      <div class="single__col content">
        Not found!
      </div>
    </div>
  </div>
</article>

{% endblock %}

