{% set feature_photo = post.feature_photo ? Image(post.feature_photo) : false %}

{% extends "layouts/base.twig" %}

{% block pageBody %}

{% include "components/banner.twig" %}

<div class="main-frame single single--page">
  {% include "components/cart-flag.twig" %}

  <article>
    {% if post.content %}
      <div class="site-wrapper single__main">
        <div class="content wp-block-editor-content">
          {{ post.content }}
        </div>
      </div>
    {% endif %}
  </article>
</div>

{% endblock %}

