{% set feature_photo = post.feature_photo ? Image(post.feature_photo) : false %}
{%  if post.slug == "my-account" %}
  {% set header_theme = 'dark' %}
  {% set is_trade = 'Trade Customer' in user.roles %}
{% endif %}

{% extends "layouts/base.twig" %}

{% block pageBody %}

{%  if post.slug != "my-account" %}
  {% include "components/banner.twig" %}
{% endif %}

<div class="main-frame single single--page page--{{ post.slug }}">
  {%  if post.slug == "my-account" %}
    <header class="site-wrapper simple-page-header">
      <div class="ecomm--header">
        <hr />
          <h1 class="sectionheader">{{ post.title }}</h1>
        <hr />
      </div>
    </header>

    <div class="site-wrapper simple-page-header">
      <div class="my-account--trade">
      {% if is_trade %}
      <span>Trade Account</span>
      {% else %}
        {% if user %}
        <p>Want to apply for a trade account? <a href="javascript:void(0);" data-micromodal-trigger="trade-modal-main"> Click here.</a></p>
        {% endif %}
      {% endif %}
      </div>
    </div>
  {% endif %}
  <article>
    {% if post.content %}
      <div class="site-wrapper single__main">
        <div class="content wp-block-editor-content">
          {{ post.content }}
        </div>
      </div>
    {% endif %}
  </article>
</div>

{% endblock %}

