.wp-block-buttons .wp-block.block-editor-block-list__block[data-type='core/button'] {
  display: block;
  .wp-block-button__link {
    display: block;
    font-weight: $fw-regular;
    color: inherit;
    display: block;
    border: 1px solid currentColor;
    text-align: center;
    padding: 1em;
    font-weight: $fw-regular;
    font-size: 1rem;
    background-color: $c-white;
    line-height: 1;
    background-color: #f8f8f8;
    border-radius: 0;
  }
}
