.breadcrumbs {
  display: flex;
  margin-top: $spacing;
}

.breadcrumbs__item {
  display: flex;
  flex-shrink: 0;
  font-size: 16px;

  a {
    color: $c-black;
  }

  &.breadcrumbs__item--noUnderline {
    a {
      box-shadow: none !important;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;

    &:after {
      margin-left: 8px;
      content: '>';
      display: block;
    }
  }

  &:last-child {
    a {
      font-weight: normal;
    }
  }
}
