/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: $ff-body;

  .woocommerce-form.checkout_coupon, .woocommerce-form.login, .woocommerce-form.register {
    padding: 0px;
    border: none;
  }

  .show-password-input {
    display: none;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 299;
}

.modal__container {
  background-color: $c-gray-E;
  padding: 30px;
  width: 803px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 300;
  position: relative;
}

.modal__header {
  font-family: $ff-headline;
  text-align: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-headline;
  text-align: center;
  font-size: $fs-xxl;
  color: $c-black;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  top: 6px;
  right: 6px;
}

.modal__header .modal__close:before {
  content: '\2715';
}

.cf7mls-btns .action-button,
.cf7mls_back.action-button,
.wpcf7-submit {
  @include transition(background-color border-color color);
  cursor: pointer;
  color: inherit;
  display: block;
  border: 1px solid transparent;
  text-align: center;
  padding: 0.75em 1.25em;
  font-weight: $fw-regular;
  font-size: 1rem;
  line-height: inherit;
  border-radius: 0;
  background-color: $c-light-purple;
  border-color: $c-light-purple;
  color: $c-white;

  &:hover {
    background-color: darken($c-light-purple, 20%);
    color: $c-white;
  }
}

.wpcf7-submit {
  width: unset;
  border-radius: 0 !important;
  font-weight: normal !important;
}

.modal__content {
  max-width: 472px;
  margin: 2rem auto;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);

  label {
    color: $c-black;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .btn {
    width: fit-content;
  }

  .btn--center {
    margin: 0 auto;
    text-align: center;
  }

  hr {
    margin: $spacing 0;
  }

  .modal--row {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-sm;
  }

  .modal--lostPassword {
    display: flex;
    justify-content: flex-end;

    a {
      font-weight: normal;
      font-size: 0.8rem;
      color: $c-black;
      border-bottom: 1px solid $c-black;
    }
  }

  input:not([type='submit']) {
    border-color: $c-black;
    background-color: transparent;
  }

  .modal--formFooter {
    text-align: center;

    p {
      color: $c-black;
      font-weight: normal;
      font-size: 0.8rem;
    }

    .btn {
      margin-top: $spacing-sm;
    }
  }

  .woocommerce-privacy-policy-text {
    p {
      color: $c-black;
      font-weight: normal;
      font-size: 0.8rem;
    }

    a {
      color: $c-black;
      border-bottom: 1px solid $c-black;
    }
  }

  .wpcf7-list-item {
    display: block;
    margin: 0px;
  }

  .wpcf7-select {
    background-color: transparent;
    @include transition(all);

    &:focus {
      outline: none;
      border-color: rgba(0, 3, 35, 0.1);
    }
  }

  select option {
    padding: 4px;

    &:checked {
      background: $c-white;
    }
  }

  .wpcf7-textarea {
    background-color: transparent;
    border: 1px solid black;

    &:focus {
      outline: none;
      border-color: rgba(0, 3, 35, 0.1);
    }
  }
}
/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#signup-modal {
  .modal--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq($md, 'max') {
      .modal--row {
        width: 100%;
      }
    }
  }
}

.modal__content .woocommerce-privacy-policy-text {
  display: none;
}

.modal--switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing;
  margin-top: $spacing;

  span {
    font-weight: normal;
  }

  input[type='checkbox'] {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  label {
    width: 52px;
    height: 30px;
    display: block;
    background-color: transparent;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 0px;
    border: 1px solid $c-black;
  }

  label::after {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid $c-black;
    background-color: $c-white;
    position: absolute;
    border-radius: 70px;
    top: 2px;
    left: 2px;
    transition: 0.5s;
  }

  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  input:checked + label {
    background-color: $c-black;
  }

  label:active:after {
    width: 24px;
  }
}

.wpcf7-response-output {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}

.wpcf7-form-control-wrap {
  margin-top: 10px;
  display: inline-block;
}

.register_msg {
  text-align: center;
}

.register_loader {
  text-align: center;

  img {
    display: none;
  }
}

.login_loader {
  margin-top: $spacing;

  img {
    display: none;
  }
}

.login_msg {

  &.fail,
  &.success {
    margin-top: $spacing;
  }

  &.fail {
    a {
      @include transition(all);
      color: $c-black;
      box-shadow: inset 0 -0.06em 0 currentColor;

      &:hover {
        box-shadow: inset 0 -0.14em 0 currentColor;
      }
    }
  }
}
