// ---------------------------------------------------------------------------
// Flexbox Grids
// ---------------------------------------------------------------------------

@mixin ungrid {
  margin-left: -1rem;
  margin-right: -1rem;
}

@mixin two-up {
  padding-left: 1rem;
  padding-right: 1rem;

  @include mq($md) {
    width: 50%;
  }
}
@mixin three-up {
  padding-left: 1rem;
  padding-right: 1rem;

  @include mq($xs) {
    width: 50%;
  }

  @include mq($md) {
    width: 33.3333333%;
  }
}
@mixin four-up {
  padding-left: 1rem;
  padding-right: 1rem;

  @include mq($xs) {
    width: 50%;
  }

  @include mq($lg) {
    width: 25%;
  }
}

// @mixin three-up {
//   width: calc(33.3333% - 10px);
//   margin-right: 10px;

//   &:nth-of-type(3n + 3) {
//     margin-right: 0;
//   }
// }

// @mixin four-up {
//   width: calc(25% - 10px);
//   margin-right: 10px;

//   &:nth-of-type(4n + 4) {
//     margin-right: 0;
//   }
// }

// @mixin five-up {
//   width: calc(20% - 10px);
//   margin-right: 10px;

//   &:nth-of-type(5n + 5) {
//     margin-right: 0;
//   }
// }

// @mixin six-up {
//   width: calc(16.6666% - 10px);
//   margin-right: 10px;

//   &:nth-of-type(6n + 6) {
//     margin-right: 0;
//   }
// }

// @mixin flex-grid {
//   @include mq(0, $sm) {
//     @include two-up;
//   }

//   @include mq($sm, $lg) {
//     @include three-up;
//   }

//   @include mq($lg, $xl) {
//     @include four-up;
//   }

//   @include mq($xl) {
//     @include five-up;
//   }
// }

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
