.woocommerce-cart-form {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .decrease_qty,
  .increase_qty {
    appearance: none;

    background-color: transparent;
  }

  .decrease_qty {
    border-left: 1px solid $c-black;
  }

  .increase_qty {
    border-right: 1px solid $c-black;
  }
}

.woocommerce table.shop_table {
  border: 0;

  a.remove {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-regular;
    color: $c-black !important;
    border: 1px solid $c-black;
    @include transition(all);
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 10px;
    width: 37px;
    height: 37px;

    &:hover,
    &:focus {
      background-color: $c-black;
      color: white !important;
    }
  }

  th,
  td {
    &.product-price,
    &.product-quantity,
    &.product-subtotal {
      @include mq($sm) {
        width: 15%;
      }
    }
  }

  th {
    color: $c-white;
    text-transform: uppercase;
    text-align: center;
    background-color: $c-medium-purple;
    margin-bottom: $spacing;
    font-weight: normal;

    &.product-name {
      text-align: left;
    }

    &:not(.product-remove, .product-thumbnail) {
      border-right: 1px solid $c-white;
    }

    &.product-subtotal {
      text-align: center;
    }
  }

  td {
    @include mq($md, 'max') {
      border-top: 0;
    }

    &.product-name {
      font-family: $ff-headline;
      font-size: 25px;
    }

    &.product-thumbnail {
      padding: 2em 2em;
    }

    &:not(.product-thumbnail, .product-name) {
      text-align: center;
    }

    &.product-quantity {
      div {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
      }

      span {
        display: none;
      }
    }
  }

  .product-remove {
    @include mq($md, 'max') {
      border-top: 1px solid $c-gray-purple;
    }
  }

  .product-subtotal {
    @include mq($md) {
      padding-right: 0;
    }
  }

  .product-name a {
    @include hover();
    font-weight: $fw-regular;
    color: inherit;
  }

  .woocommerce-Price-amount {
    font-weight: $fw-regular;
  }

  button.button {
    padding: 0.5em 1em;

    &:disabled {
      padding: 0.5em 1em;
    }
  }

  button.button[name='update_cart'] {
    float: right;
  }

  td.actions {
    padding: $spacing 0 0 0;

    .coupon {
      @include mq($md, 'max') {
        padding-bottom: $spacing-sm !important;
      }

      input[type='text'] {
        @include mq($md) {
          margin-right: $spacing-sm;
        }
      }
    }
  }
}

.woocommerce .cart-collaterals .cart_totals {
  margin-top: $spacing;
  padding-top: $spacing;
  width: auto;

  @include mq($md, 'max') {
    margin-top: 0px;
  }

  h2 {
    display: none;
  }

  .cart-subtotal {
    display: none;
  }

  .order-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    th,
    td {
      border-top: 0;
      width: 100%;
    }

    th {
      font-weight: $fw-regular;
      color: $c-white;
    }

    td {
      padding: 0;
      text-align: center;
      background-color: transparent;

      @include mq($md) {
        padding: 1em 0em;
      }

      .woocommerce-Price-amount {
        font-weight: $fw-bold;
        font-size: $fs-lg;
      }
    }
  }
}

.woocommerce-cart table.cart img {
  width: 200px;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: auto;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  padding: 0.5em;
}

.ecomm--header {
  display: flex;
  align-items: center;
  margin-top: $spacing;

  h1 {
    margin: 0px;
    font-size: $fs-xl;
    padding: 0px 30px;
    flex-shrink: 0;
  }

  hr {
    height: 2px;
    margin: 0px;
    width: 100%;
  }
}

@include mq($md, 'max') {
  .woocommerce-cart-form__cart-item {
    .product-remove {
      padding-bottom: 0px !important;

      a {
        padding-bottom: 4px;
      }
    }

    td {
      width: 100% !important;
    }

    .product-quantity {
      .quantity {
        justify-content: flex-end !important;
      }
    }

    .product-name {
      display: flex;
      flex-wrap: wrap;
      padding-top: 8px !important;
      padding-bottom: 0px !important;

      a {
        display: block;
        width: 100%;
        text-align: left;
      }

      &:before {
        font-size: 18px;
        font-weight: bold;
        font-family: $ff-body;
        display: block;
        width: 100%;
        float: none !important;
        text-align: left;
      }
    }

    .variation {
      text-align: left !important;
    }

    .coupon {
      display: none;
    }
  }

  .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
  .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
  }
}
