.woocommerce-order-received {
  .woocommerce table.shop_table thead th {
    padding: 1em;
    text-align: left;
  }

  .woocommerce-attachment-details {
    display: none;
  }

  .product-quantity {
    display: none;
  }

  .wc-item-meta {
    font-size: 16px;
    line-height: 19px;
    font-family: $ff-body;

    strong {
      font-weight: 300;
    }
  }

  .woocommerce-order-details__title {
    text-align: left;
    margin-bottom: $spacing;
    font-size: $fs-xl;
  }

  .woocommerce-table__product-name {
    text-align: left;

    a {
      &:hover {
        box-shadow: none !important;
      }
    }
  }

  .woocommerce table.shop_table tfoot {
    tr:not(:first-child) {
      th,
      td {
        border: none;
      }
    }

    th,
    td {
      padding-bottom: 0em;
    }

    th {
      background-color: transparent;
      color: $c-black;
      text-align: right;
      font-size: 0.8em;
      font-weight: normal;
      margin-top: 1em;
      vertical-align: middle;
    }
  }
}
