.woocommerce-thankyou-order-received {
  margin-bottom: $spacing-sm;
}

.woocommerce-order-details__title,
.woocommerce-column__title {
  font-size: 30px;
  font-weight: $fw-regular;
}

.woocommerce .woocommerce-customer-details address {
  border-radius: 0;
  border: 0;
  padding: 0;
  margin-top: $spacing-sm;
}

.woocommerce ul.order_details li {
  text-transform: none;
  font-size: $fs-sm;
  margin-bottom: $spacing-sm;
  border-right-style: solid;

  @include mq($md, 'max') {
    display: block;
    float: none;
    border-right: none;
  }

  strong {
    font-weight: $fw-regular;
    font-size: $fs-base;
  }
}
