.product__title {
  @include headline();
  font-size: $fs-xl;
  margin-top: $spacing-sm;
}

.product__designerName {
  text-transform: uppercase;
  font-weight: thin;
  font-size: 16px;
  margin-bottom: $spacing-sm;

  a {
    box-shadow: unset !important;
  }
}

.summary .price {
  margin-bottom: 6px;
}

.trade__price {
  color: #d2ced2;
  font-size: 18px;
}

.product__divider {
  border: none;
  border-top: 1px solid #cbd8e3;
}

.product__summary {
  &.product__summaryPriceHidden {
    .single_add_to_cart_button {
      display: none !important;
    }
  }
}

.product__customField {
  color: #6d748a;
  font-size: 16px;
  padding-top: 8px;

  &:first-child {
    border-top: 1px solid #cbd8e3;
    padding-top: 10px;
  }

  .product__customFieldHeading {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }

  .product__customFieldContent {
    display: none;
    color: $c-dark-blue;

    &.open {
      display: block;
    }
  }

  .product__customFieldToggle {
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.summary .price {
  font-size: $fs-lg;
  font-weight: $fw-bold;
  // margin-bottom: $spacing;
  // display: none;
}

.product__actions {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;

  .cart {
    margin-bottom: $spacing-sm;
  }
}

.product__returnPolicy {
  font-size: 16px !important;
  color: $c-light-purple !important;
}

.product__stickyGalleryItem {
  position: relative;

  @include mq($md) {
    border-right: 1px solid $c-light-purple;
  }

  .product__stockBadge {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 102px;

    &.product__madeToOrder {
      width: 142px;
    }
  }
}

.product__stickyGalleryItem {
  img {
    width: 100%;
  }
}

table.variations {
  width: 100%;

  tr {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  td,
  .label label {
    width: 100%;
  }

  .label label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;

    .product__selectedVariant {
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  .toggle {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }
}

.woocommerce.single-product form.cart.variations_form .tawcvs-swatches {
  margin-bottom: 0px;
}

.woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch {
  padding: 0px;
  width: 25px;
  height: 25px;
}

.woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch-item-wrapper {
  margin-bottom: 4px !important;
}

.woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch:before {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-width: 2px;
  border-color: transparent;
}

.woocommerce.single-product form.cart.variations_form .tawcvs-swatches .swatch.selected:before {
  border-color: $c-black;
}

.woocommerce.single-product
  form.cart.variations_form
  .tawcvs-swatches
  .swatch.swatch-color.selected:after {
  display: none !important;
}

.product__attachment {
  margin-bottom: $spacing-sm;
  margin-top: $spacing-sm;

  .wcpoa_attachmentbtn {
    float: none !important;
    box-shadow: unset !important;
    color: $c-black !important;
    font-weight: bold;
    background-color: transparent !important;
    padding: 0px !important;
    display: inline !important;
    width: unset !important;
  }
}

#product__showMore {
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.summary .cart .quantity {
  display: none !important;
}

.variations {
  margin-bottom: $spacing-sm;

  .reset_variations {
    color: inherit;
    font-size: $fs-base;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    display: none !important;
  }
}

.woocommerce .single-product-details .quantity {
  margin-bottom: $spacing;
  display: flex;
  align-items: center;

  .qty {
    border-radius: 0;
    font-size: $fs-base;
    text-align: left;
    padding: 0.5em;
    border-width: 1px;
  }
}

.quantity__label,
.variations .label label {
  margin-right: $spacing-sm;
  font-size: $fs-base;
  width: 80px;
  display: inline-block;
}

.woocommerce #content .single-product-details .single_add_to_cart_button {
  width: 100%;
  @include transition(background-color border-color color);
  cursor: pointer;
  color: $c-white;
  display: block;
  border: 1px solid transparent;
  text-align: center;
  padding: 0.75em 1.25em;
  font-weight: $fw-regular;
  font-size: 1rem;
  background-color: $c-light-purple;
  line-height: inherit;
  border-radius: 0;

  &.loading {
    opacity: 1;
    color: transparent;
    border-color: $c-text;
    overflow: hidden;

    &:after {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $c-text;
    }
  }
}

.woocommerce .added_to_cart.wc-forward {
  @include transition(color);
  color: inherit;
  font-weight: $fw-regular;
  margin-top: $spacing-sm;
  padding: 0;

  &:after {
    @include transition(transform);
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 16px;
    transform: translateX(0);
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2223%22%20height%3D%2244%22%3E%3Cpath%20stroke-width%3D%224%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20d%3D%22M1%20.787L22.213%2022%201%2043.213%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &:hover {
    color: $c-black;
    &:after {
      transform: translateX(3px);
    }
  }
}
