.shop-archive__header {
  margin-bottom: $spacing;

  .archive__controls {
    margin-bottom: $spacing;
  }

  .control__filterIcon {
    &:hover {
      &:after {
        transform: rotate(0deg);
      }
    }

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='2.5' r='2' stroke='%23000323'/%3E%3Cline x1='10' y1='2.5' x2='-4.37114e-08' y2='2.5' stroke='black'/%3E%3Ccircle cx='2.5' cy='9.5' r='2' transform='rotate(-180 2.5 9.5)' stroke='%23000323'/%3E%3Cline x1='5' y1='9.5' x2='15' y2='9.5' stroke='black'/%3E%3C/svg%3E%0A");
    }
  }

  .ecomm--header {
    h1 {
      padding-left: 0px;
      flex-shrink: 0;
    }
  }
}
