<nav class="woocommerce-pagination">
	<ul class="page-numbers">
    <li><a class="prev page-numbers {% if not pagination.prev %}disabled{% endif %}" href="{{ pagination.prev.link }}">Previous</a></li>
	  <li><a class="next page-numbers {% if not pagination.next %}disabled{% endif %}" href="{{ pagination.next.link }}">Next</a></li>
  </ul>
</nav>
