<section class="shop-carousel">
  <div class="shop-section__header site-wrapper">
    <h2 class="sectionheader sectionheader--shop">{{ carousel.title }}</h2>
    <a class="cta-link" href="{{ carousel.link }}">View All <span class="cta-link__arrow">&rarr;</span></a>
  </div>
  {% include "components/carousel.twig" with { items: carousel.products, options: { loop: true, size: 'half' }, template: 'product' } %}
</section>
