<section class="shop-carousel">
  <div class="shop-section__header site-wrapper">
    <div class="ecomm--header">
      <h2 class="sectionheader sectionheader--shop">{{ carousel.title }}</h2>
      <hr />
    </div>
  </div>
  {% include "components/carousel.twig" with { items: carousel.products, options: { loop: true, size: 'quarter' }, template: 'product' } %}
</section>
